a,
.pointer {
    cursor: pointer;
}

.tab-content {
    padding: 1em;
}
.cloud-options {
    max-height: 0px;
    background: #efefef;
    overflow-y: hidden;
    overflow-x: hidden;
    transition: max-height 2s ease-in;
}

.cloud-options.open {
    max-height: 1000px;
    padding-right: 1em;
    border-top: 1px solid #DDD;
    border-bottom: 1px solid #DDD;
}

.draggable {
    cursor: move;
}

.draggable.dragging {
    z-index: 1;
    opacity: 0.7;
}

.list-group-item.dest-after {
    border-bottom: 2px solid #3276b1;
}
.list-group-item.dest-before {
    border-top: 2px solid #3276b1;
}

.column-list .dragging {
    border: 1px dashed #ddd;
    background: #fff;
}

.preview-table th,
.preview-table td {
    font-size: 0.8em;
    font-family: Menlo, Monaco, Consolas, "Droid Sans Mono", "Courier New", monospace;
}

.cloud-providers a {
    font-size: 1.2em;
}

/*
.cloud-provider-options {
    border-left: 1px solid #ddd;
    margin-left: -32px;
}
*/
.cloud-provider-options .btn {
    margin-top: 1em;
    margin-bottom: 1em;
}

.nav-tabs.nav-stacked {
    border-bottom: 0;
}
.cloud-providers.nav {
    min-height: 180px;
    background: #dedede;
}
.nav-tabs.nav-stacked > li:hover,
.nav-tabs.nav-stacked > li {
    margin-bottom: -6px;
}
.nav-tabs.nav-stacked > li:last-child {
    margin-bottom: -1px;
}

.nav-tabs.nav-stacked > li > a {
    background: #dedede;
}
.nav-tabs.nav-stacked > li:hover > a {
    background: #cdcdcd;
}
.nav-tabs.nav-stacked > li:hover > a,
.nav-tabs.nav-stacked > li > a {
    border-right: 1px solid #ddd;
}

.cloud-providers.nav-tabs.nav-stacked > li:first-child > a {
    border-top: 0;
}

.nav-tabs.nav-stacked > .active:hover > a,
.nav-tabs.nav-stacked > .active > a {
    background: #efefef;
    margin-right: -1px;
    border-right: 1px solid #efefef;
    border-bottom: 1px solid #ddd;
}



