@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?-lj2g9d');
	src:url('fonts/icomoon.eot?#iefix-lj2g9d') format('embedded-opentype'),
		url('fonts/icomoon.woff?-lj2g9d') format('woff'),
		url('fonts/icomoon.ttf?-lj2g9d') format('truetype'),
		url('fonts/icomoon.svg?-lj2g9d#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

i.icon, .fa.icon,
[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-google-drive:before {
	content: "\e600";
}
.icon-genomespace:before {
	content: "\e601";
}
.icon-galaxy:before {
	content: "\e602";
}
